@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* -webkit-font-smoothing: antialiased; */
    /* -moz-osx-font-smoothing: grayscale; */
    -webkit-font-smoothing: subpixel-antialiased;
}

html {
    height: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
    height: 100%;
    align-items: center;
    background-color: #975DFA;
    display: flex;
    font-size: 62.5%;
}

#calculator {
    text-align: center;

    display: inline-block;
    margin: auto;
    padding: 2rem;
    background-color: #eee;

    outline-offset: -8px;
    outline: #7F45E2 solid 3px;
    

    max-width: 356px;
    max-height: 566px;

    background: #2D2A37;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 188px 52px rgba(0, 0, 0, 0.01), 0px 120px 48px rgba(0, 0, 0, 0.04), 0px 68px 41px rgba(0, 0, 0, 0.15), 0px 30px 30px rgba(0, 0, 0, 0.26), 0px 8px 17px rgba(0, 0, 0, 0.29), inset 0px 6px 8px rgba(255, 255, 255, 0.1), inset 0px -4px 5px rgba(0, 0, 0, 0.22);
    border-radius: 48px;
}

table {
    width: 100%;
    display: flex;
    justify-content: center;

}

tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: .8rem;

}


#result {
    width: 90%;


    background: linear-gradient(180deg, #975DFA 35.94%, rgba(255, 255, 255, 0.65) 90.62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;


    font-size: 2.4rem;
    text-align: right;
    color: white;


    border: transparent;
    outline: none;
}

#result-preview {
    font-size: 1rem;
    min-height: 19px;
    width: 93%;
    background-color: #2D2A37;
    color: #c5c5c5;
    text-align: right;
    margin-bottom: 6px;
}

.accent {
    width: 64px;
    height: 64px;
    left: calc(50% - 64px/2 + 114px);
    top: calc(50% - 64px/2 + 143px);

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0.01%, rgba(255, 255, 255, 0.05) 100%), #462878;
    box-shadow: 0px 11px 7px rgba(0, 0, 0, 0.01), 0px 7px 7px rgba(0, 0, 0, 0.04), 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.26), 0px 0px 2px rgba(0, 0, 0, 0.29), inset 0px 2px 3px rgba(255, 255, 255, 0.1);
    border-radius: 999px;
}

.button-tinted {
    background: linear-gradient(180deg, #975DFA 35.94%, rgba(255, 255, 255, 0.65) 90.62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.submit {
    width: 64px;
    height: 64px;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.05) 100%),/*  #7F45E2 */ #735e97;
    box-shadow: 0px 11px 7px rgba(0, 0, 0, 0.01), 0px 7px 7px rgba(0, 0, 0, 0.04), 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.26), 0px 0px 2px rgba(0, 0, 0, 0.29), inset 0px 2px 3px rgba(255, 255, 255, 0.1);
    border-radius: 999px;

}
.submit:hover{
    outline: #ffffff solid 2px;
}

button {
    width: 64px;
    height: 64px;
    font-size: 2rem;
    color: rgb(255, 255, 255);

    border: transparent;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%), #2D2A37;
    box-shadow: 0px 11px 7px rgba(0, 0, 0, 0.01), 0px 7px 7px rgba(0, 0, 0, 0.04), 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.26), 0px 0px 2px rgba(0, 0, 0, 0.29), inset 0px 2px 3px rgba(255, 255, 255, 0.1);
    border-radius: 999px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-clip: padding-box;
    transition: 0.1s ease-in-out;
}

button:hover {
    
    transform: scale(0.9);
    outline: #7F45E2 solid;
}

button:active {
    transform: scale(1.10);
}

.unselectable[button] {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (max-width: 1000px) {
#calculator{
    max-width: 75vw;
    max-height: 100%;
}
#result{
    font-size: 2rem;
}
#result-preview{
    font-size: 1rem;
    min-height: 19px;
}
tr{
    gap: 0.7rem;
    column-gap: 2rem;
    width: 100%;
    height: 100%;
    
}
svg{
    width: 100%;
}

button,.accent,.submit{
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
}
}