@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* -webkit-font-smoothing: antialiased; */
    /* -moz-osx-font-smoothing: grayscale; */
    -webkit-font-smoothing: subpixel-antialiased;
}

html {
    height: 100%;
}

body {
    height: 100%;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    background-color: #fca311;
    display: flex;

}

:root {
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
}

.svg {

    fill: red;
    max-width: 30px;
    width: 100%;
}

#calculator {
    text-align: center;

    display: inline-block;
    margin: auto;
    padding: 2rem;

    box-shadow: inset 0px 0px 12px -3px rgba(255, 255, 255, 0.97);
    box-shadow: 0px 0px 34px -10px rgba(0, 0, 0, 1);
    max-width: 356px;
    max-height: 566px;

    background: #ffffff;

    border-radius: 48px;
    border: solid 2px;
}

table {
    width: 100%;

    display: flex;
    justify-content: center;
}

tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    gap: 1.5rem;
}


#result {
    width: 100%;
    height: 100%;


    margin-bottom: 5rem;
    padding: 0.6rem;
    padding-right: 1.1rem;

    font-size: 2.4rem;
    text-align: right;
    color: rgb(0, 0, 0);

    border-radius: 3rem;
    border: solid 2px;
    outline: none;
    background-color: #c4c4c4;
}

#result-preview {
    font-size: 2rem;
    min-height: 39px;
    width: 93%;
    background-color: #ffffff;
    color: #565656;
    text-align: right;
}

.accent {


    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0.01%, rgba(255, 255, 255, 0.05) 100%), #462878; */
    background-color: #14213D;
    box-shadow: 0px 11px 7px rgba(0, 0, 0, 0.01), 0px 7px 7px rgba(0, 0, 0, 0.04), 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.26), 0px 0px 2px rgba(0, 0, 0, 0.29), inset 0px 2px 3px rgba(255, 255, 255, 0.1);
    border-radius: 999px;
}

.button-tinted {
    background: #f7a623;

}

.submit {
    width: 64px;
    height: 64px;
    box-shadow: 0px 11px 7px rgba(0, 0, 0, 0.01), 0px 7px 7px rgba(0, 0, 0, 0.04), 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.26), 0px 0px 2px rgba(0, 0, 0, 0.29), inset 0px 2px 3px rgba(255, 255, 255, 0.1);
    background-color: #f7a623;
    border-radius: 999px;

}

.submit:hover {
    outline: #ffffff solid 2px;
}

button,
button.accent,
button.submit {
    width: 100%;
    aspect-ratio: 1/1;
    font-size: 2.4rem;
}

button {
    color: rgb(29, 29, 29);

    border: solid 2px black;
    background: #c4c4c4;
    font-weight: bold;
    border-radius: 999px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-clip: padding-box;

    box-shadow: 0px 11px 7px rgba(0, 0, 0, 0.01), 0px 7px 7px rgba(0, 0, 0, 0.04), 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.26), 0px 0px 2px rgba(0, 0, 0, 0.29), inset 0px 2px 3px rgba(255, 255, 255, 0.1);
}



button:active {
    outline: rgb(255, 145, 0) solid 2px;
}

.unselectable[button] {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (max-width: 1000px) {
    #result {
        font-size: 3rem;
    }

    #result-preview {
        font-size: 2rem;
        min-height: 39px;
    }

    tr {
        gap: 1.7rem;

        width: 100%;
        height: 100%;

    }
}

@media (max-width: 450px) {
    #calculator * button {
        width: 100%;
    }



}
